<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cupcakes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link
      href="https://bootswatch.com/5/minty/bootstrap.css"
      rel="stylesheet">
</head>
<body>

<ul id="cupcakeList">

</ul>

<form action="/api/cupcakes" method="POST" id="addCupcakeForm">
  <div>
    <label for="flavor">Flavor</label>
    <input id="flavor" type="text" required>
  </div>
  <div>
    <label for="size">Size</label>
    <input id="size" type="text" required>
  </div>
  <div>
    <label for="rating">Rating</label>
    <input id="rating" type="number" min="0" required>
  </div>
  <div>
    <label for="imageUrl">Image URL</label>
    <input id="imageUrl" type="url">
  </div>

  <button id="submit" type="submit">Submit</button>
</form>
</body>
<script src="https://unpkg.com/jquery"></script>
<script src="/static/cupcake.js"></script>
</html>